[Desktop Entry]
Version=1.0
Type=Application
Name=Settings
Name[zh_CN]=系统设置
GenericName=Tablet App
GenericName[zh_CN]=平板应用
Comment=Ubuntu Studio Tablet fullscreen app
Comment[zh_CN]=Ubuntu Studio 平板全屏应用
Exec=/usr/lib/ubuntu-studio-tablet/bin/ust-launch --class systemsettings -- systemsettings
Icon=preferences-system
Terminal=false
StartupNotify=true
StartupWMClass=systemsettings
Categories=UbuntuStudioTablet;Settings;
Keywords=studio;tablet;touch;Settings;
X-Ubuntu-Studio-Tablet=true
X-KDE-FormFactor=tablet;handset;desktop;
