[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Name[zh_CN]=文件
GenericName=Tablet App
GenericName[zh_CN]=平板应用
Comment=Ubuntu Studio Tablet fullscreen app
Comment[zh_CN]=Ubuntu Studio 平板全屏应用
Exec=/usr/lib/ubuntu-studio-tablet/bin/ust-launch --class org.kde.dolphin -- dolphin
Icon=system-file-manager
Terminal=false
StartupNotify=true
StartupWMClass=org.kde.dolphin
Categories=UbuntuStudioTablet;System;FileManager;
Keywords=studio;tablet;touch;Files;
X-Ubuntu-Studio-Tablet=true
X-KDE-FormFactor=tablet;handset;desktop;
