[Desktop Entry]
Version=1.0
Type=Application
Name=Mixxx
Name[zh_CN]=Mixxx DJ
GenericName=Tablet App
GenericName[zh_CN]=平板应用
Comment=Ubuntu Studio Tablet fullscreen app
Comment[zh_CN]=Ubuntu Studio 平板全屏应用
Exec=/usr/lib/ubuntu-studio-tablet/bin/ust-launch --class mixxx -- mixxx
Icon=mixxx
Terminal=false
StartupNotify=true
StartupWMClass=mixxx
Categories=UbuntuStudioTablet;AudioVideo;Audio;
Keywords=studio;tablet;touch;Mixxx;
X-Ubuntu-Studio-Tablet=true
X-KDE-FormFactor=tablet;handset;desktop;
