[Desktop Entry]
Version=1.0
Type=Application
Name=Gwenview
Name[zh_CN]=看图
GenericName=Tablet App
GenericName[zh_CN]=平板应用
Comment=Ubuntu Studio Tablet fullscreen app
Comment[zh_CN]=Ubuntu Studio 平板全屏应用
Exec=/usr/lib/ubuntu-studio-tablet/bin/ust-launch --class org.kde.gwenview -- gwenview
Icon=gwenview
Terminal=false
StartupNotify=true
StartupWMClass=org.kde.gwenview
Categories=UbuntuStudioTablet;Graphics;Viewer;
Keywords=studio;tablet;touch;Gwenview;
X-Ubuntu-Studio-Tablet=true
X-KDE-FormFactor=tablet;handset;desktop;
