[Desktop Entry]
Version=1.0
Type=Application
Name=Krita
Name[zh_CN]=Krita 数字绘画
GenericName=Tablet App
GenericName[zh_CN]=平板应用
Comment=Ubuntu Studio Tablet fullscreen app
Comment[zh_CN]=Ubuntu Studio 平板全屏应用
Exec=/usr/lib/ubuntu-studio-tablet/bin/ust-launch --class krita -- krita
Icon=krita
Terminal=false
StartupNotify=true
StartupWMClass=krita
Categories=UbuntuStudioTablet;Graphics;2DGraphics;
Keywords=studio;tablet;touch;Krita;
X-Ubuntu-Studio-Tablet=true
X-KDE-FormFactor=tablet;handset;desktop;
