[Desktop Entry]
Version=1.0
Type=Application
Name=Qtractor
Name[zh_CN]=Qtractor
GenericName=Tablet App
GenericName[zh_CN]=平板应用
Comment=Ubuntu Studio Tablet fullscreen app
Comment[zh_CN]=Ubuntu Studio 平板全屏应用
Exec=/usr/lib/ubuntu-studio-tablet/bin/ust-launch --class qtractor -- qtractor
Icon=qtractor
Terminal=false
StartupNotify=true
StartupWMClass=qtractor
Categories=UbuntuStudioTablet;AudioVideo;Audio;
Keywords=studio;tablet;touch;Qtractor;
X-Ubuntu-Studio-Tablet=true
X-KDE-FormFactor=tablet;handset;desktop;
