[Desktop Entry]
Version=1.0
Type=Application
Name=PipeWire Graph
Name[zh_CN]=音频连线
GenericName=Tablet App
GenericName[zh_CN]=平板应用
Comment=Ubuntu Studio Tablet fullscreen app
Comment[zh_CN]=Ubuntu Studio 平板全屏应用
Exec=/usr/lib/ubuntu-studio-tablet/bin/ust-launch --class qpwgraph -- qpwgraph
Icon=qpwgraph
Terminal=false
StartupNotify=true
StartupWMClass=qpwgraph
Categories=UbuntuStudioTablet;AudioVideo;Audio;
Keywords=studio;tablet;touch;PipeWire Graph;
X-Ubuntu-Studio-Tablet=true
X-KDE-FormFactor=tablet;handset;desktop;
