[Desktop Entry]
Version=1.0
Type=Application
Name=GIMP
Name[zh_CN]=GIMP 图像编辑
GenericName=Tablet App
GenericName[zh_CN]=平板应用
Comment=Ubuntu Studio Tablet fullscreen app
Comment[zh_CN]=Ubuntu Studio 平板全屏应用
Exec=/usr/lib/ubuntu-studio-tablet/bin/ust-launch --class Gimp -- gimp
Icon=gimp
Terminal=false
StartupNotify=true
StartupWMClass=Gimp
Categories=UbuntuStudioTablet;Graphics;2DGraphics;
Keywords=studio;tablet;touch;GIMP;
X-Ubuntu-Studio-Tablet=true
X-KDE-FormFactor=tablet;handset;desktop;
